Fresh.Global/Resources/em_base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:emevent="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/" xmlns:mo="http://release.niem.gov/niem/domains/militaryOperations/3.2/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:emcd="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/codes/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" targetNamespace="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/" elementFormDefault="qualified" version="1.0">
	<xs:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/3.2/" schemaLocation="mo.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/codes/" schemaLocation="emcl.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="structures.xsd"/>
	<xs:annotation>
		<xs:documentation>The base set of element for emergency management (EM) events. This base set should be reused across the various EM message types.</xs:documentation>
	</xs:annotation>
	<!-- ELEMENTS -->
	<xs:element name="EventTypeDescriptor" type="emevent:EventTypeDescriptorType" substitutionGroup="mo:EventCategoryAbstract">
		<xs:annotation>
			<xs:documentation>
A container for the formal type code and the extended type code to specify what type of thing the EM event is describing.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventComment" type="emevent:CommentType">
		<xs:annotation>
			<xs:documentation>
Comments regarding a particular event.
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventCommunityExtensions" type="emevent:CommunityExtensionsType">
		<xs:annotation>
			<xs:documentation>
A community-specific extension to a message, for which the XML schema is not known in advance.
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventLink" type="emevent:EventLinkType">
		<xs:annotation>
			<xs:documentation>
A link to other EM events.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ValueText" type="nc:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A Value from a certified list maintained by the Community of Interest (COI) for the referenced element.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactMean" type="nc:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactEntity" type="nc:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactEntityDescriptionText" type="nc:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Address" type="emevent:AddressType">
		<xs:annotation>
			<xs:documentation>A postal location to which paper mail can be directed.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactResponder" type="nc:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactInformationAugmentationPoint" type="nc:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ValueListURNText" type="nc:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A name of the certified list maintained by the Community of Interest (COI) for the value referenced.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ValueAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation point for ValueType.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventLinkRelationCode" type="emcd:EventLinkRelationCodeType">
		<xs:annotation>
			<xs:documentation>
The relationship between "this" EM event and the EM event being linked to.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventTypeCode" type="emcd:EventTypeCodeType">
		<xs:annotation>
			<xs:documentation>
The formal, enumerated type code.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceMessageStatusKeywordValue" type="emevent:ValueType" nillable="true">
		<xs:annotation>
			<xs:documentation>A description or Code used to identify the message status of a resource message.   Any value from a discrete managed list, used to specify a Request Status.  The content of valueListUrn is the Uniform Resource Name of a published list of values and definiti</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceStatusKeywordValue" type="emevent:ValueType" nillable="true">
		<xs:annotation>
			<xs:documentation>A value from a discrete managed list, used to specify the general state of a resource if known.  where the content of valueListUrn is the Uniform Resource Name of a published list of values and definitions, and the content of value is a string denoting</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventTypeDescriptorExtension" type="mo:CodespaceCodePairType">
		<xs:annotation>
			<xs:documentation>
The community extended type code.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LinkedEventCategory" type="emevent:EventTypeDescriptorType">
		<xs:annotation>
			<xs:documentation>
A container for the formal type code and extended type code for the EM event being linked to.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LinkedEventID" type="emevent:EventIdentificationType">
		<xs:annotation>
			<xs:documentation>
The ID for the EM event being linked to.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OwningAgencyIdentification" type="nc:IdentificationType">
		<xs:annotation>
			<xs:documentation>
The identifying information for the owning agency.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGCoordinate" type="emevent:USNGCoordinateType">
		<xs:annotation>
			<xs:documentation>
A coordinate from the United States National Grid (USNG) which represents a location using the Universal Transverse Mercator (UTM) and the UPS grid systems and a grid labeling convention. Similar to the MGRS grid.	
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGCoordinateID" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
An identifier of a USNG coordinate.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGEastingValue" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
A distance east within a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGGridZoneID" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
An identifier of a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGGridZoneSquareID" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
An identifier of a specific 100,000 meter squared region within a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGNorthingValue" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
A distance north within a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- COMPLEX TYPES -->
	<xs:complexType name="CommentType">
		<xs:annotation>
			<xs:documentation>
A container for a comment, the comment's source, and the date/time that a comment was made.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:DateTime"/>
					<xs:element ref="nc:OrganizationIdentification"/>
					<xs:element ref="nc:PersonHumanResourceIdentification" minOccurs="0"/>
					<xs:element ref="nc:CommentText"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommunityExtensionsType">
		<xs:annotation>
			<xs:documentation>
A data type for community-specific extensions to a message, for which the XML schema is not known in advance.
        </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventTypeDescriptorType">
		<xs:annotation>
			<xs:documentation>
A container for the base hierarchical type and whatever extended type is necessary for an individual community.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:EventTypeCode"/>
					<xs:element ref="emevent:EventTypeDescriptorExtension" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ValueType">
		<xs:annotation>
			<xs:documentation>A data type of values or names from certified lists referenced by the Community of Interest (COI).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:ValueText" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="emevent:ValueListURNText" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="emevent:ValueAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventIdentificationType">
		<xs:annotation>
			<xs:documentation>
A data type for a representation of an identity as a single identifier.  Does not have a property for the identiy-assigning authority.
        </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="nc:IdentificationType">
				<xs:sequence>
					<xs:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventLinkType">
		<xs:annotation>
			<xs:documentation>
A data type for a unidirectional relationship from the process or object described by an Event, to the process or object described by another Event, or to an arbitrary resource.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:LinkedEventID"/>
					<xs:element ref="emevent:LinkedEventCategory"/>
					<xs:element ref="emevent:EventLinkRelationCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>A data type for a geophysical location described by postal information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:AddressBuildingName" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationStreet" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationState" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationPostalExtensionCode" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventType">
		<xs:annotation>
			<xs:documentation>
			A base event type for creating EM events from.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="emevent:RestrictedEventType">
				<xs:sequence>
					<xs:element ref="emevent:USNGCoordinate" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:EventLink" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="emevent:EventComment" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LocalIdentificationType">
		<xs:annotation>
			<xs:documentation>
A way to reference an local identifier for whatever it is an event is referring to.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:IdentificationID"/>
					<xs:element ref="nc:OrganizationIdentification"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RestrictedEventType">
		<xs:annotation>
			<xs:documentation>
A restriction on the milops event type that significantly limits what elements can be used.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="mo:EventType">
				<xs:sequence>
					<!--<xs:element ref="mo:EventID"/>-->
					<xs:element ref="emevent:EventTypeDescriptor"/>
					<xs:element ref="mo:EventLocation"/>
					<xs:element ref="mo:EventIdentification"/>
					<xs:element ref="mo:EventValidityDateTimeRange"/>
					<xs:element ref="mo:EventMessageDateTime"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="USNGCoordinateType">
		<xs:annotation>
			<xs:documentation>
A data type for United States National Grid (USNG) which represents a location using the Universal Transverse Mercator (UTM) and the UPS grid systems.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:USNGCoordinateID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGEastingValue" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGNorthingValue" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:GeographicDatum" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGGridZoneID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGGridZoneSquareID" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
