Fresh.Global/Resources/emlc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:emlc="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/emlc/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:emcd="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/codes/" xmlns:mo="http://release.niem.gov/niem/domains/militaryOperations/3.2/" xmlns:rtlt="http://example.com/adapters/fema_rtlt/3.0/" xmlns:emevent="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:ns1="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/maid/" xmlns:ns2="http://release.niem.gov/niem/adapters/geospatial/3.0/" targetNamespace="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/emlc/" elementFormDefault="qualified" version="1.0">
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/" schemaLocation="em_base.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/3.2/" schemaLocation="mo.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/codes/" schemaLocation="emcl.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="structures.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/maid/" schemaLocation="maid.xsd"/>
	<xs:import namespace="http://example.com/adapters/fema_rtlt/3.0/" schemaLocation="fema_rtlt.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/adapters/geospatial/3.0/" schemaLocation="geospatial.xsd"/>
	<xs:annotation>
		<xs:documentation>The schema for sharing information between Computer Aided Dispatch (CAD) systems.</xs:documentation>
	</xs:annotation>
	<!-- ELEMENTS -->
	<xs:element name="AddressIntersectionIndicator" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>
An indicator that the address of the incident is an intersection.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Event" type="emlc:EventType">
		<xs:annotation>
			<xs:documentation>
An incident or resource event.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventDetails" abstract="true">
		<xs:annotation>
			<xs:documentation>
Additional information providing more detail about the event.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentDetails" type="emlc:IncidentDetailType" substitutionGroup="emlc:EventDetails">
		<xs:annotation>
			<xs:documentation>
Additional information needed to sufficiently describe an incident.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentIdentifier" type="nc:IdentificationType" substitutionGroup="nc:OrganizationAugmentationPoint">
		<xs:annotation>
			<xs:documentation>
The identifier used within the owning organization to identify the incident.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentLocationExtension" type="emlc:IncidentLocationExtensionType">
		<xs:annotation>
			<xs:documentation>
Alternate methods of describing the resource's location.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentOwningOrganization" type="emlc:IncidentOrganizationType">
		<xs:annotation>
			<xs:documentation>
Whatever organization is responsible for responding to the incident.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentStatus" type="emlc:IncidentStatusType">
		<xs:annotation>
			<xs:documentation>
The status of the incident (e.g. if the incident is active or closed).
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentPrimaryStatus" type="emcd:IncidentPrimaryStatusCodeType">
		<xs:annotation>
			<xs:documentation>
The primary status type for an incident. This is made up of a small, general set of terms that are further described by the secondary status terms.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentSecondaryStatus" abstract="true">
		<xs:annotation>
			<xs:documentation>
A more descriptive status type for an incident that compliments the primary status type. This status type can be community defined or use one of the pre-defined code lists provided in the schema.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentEIDDCode" type="emcd:IncidentEIDDStatusCodeType">
		<xs:annotation>
			<xs:documentation>
The set of incident status codes contained within the EIDD documentation.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentEIDDStatus" type="emlc:IncidentEIDDStatusType" substitutionGroup="emlc:IncidentSecondaryStatus">
		<xs:annotation>
			<xs:documentation>
The set of incident status codes contained within the EIDD documentation.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentPulsePointCode" type="emcd:IncidentPulsePointStatusCodeType">
		<xs:annotation>
			<xs:documentation>
The set of incident status codes contained within the PulsePoint documentation.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentPulsePointStatus" type="emlc:IncidentPulsePointStatusType" substitutionGroup="emlc:IncidentSecondaryStatus">
		<xs:annotation>
			<xs:documentation>
The set of incident status codes contained within the PulsePoint documentation.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncidentSecondaryStatusText" type="mo:CodespaceCodePairType" substitutionGroup="emlc:IncidentSecondaryStatus">
		<xs:annotation>
			<xs:documentation>
A free text field for describing the primary incident status type in further detail.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfrastructureDetails" type="emlc:InfrastructureDetailType" substitutionGroup="emlc:EventDetails">
		<xs:annotation>
			<xs:documentation>
Additional information needed to sufficiently describe the status of fixed infrastructure.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfrastructureStatus" type="emlc:InfrastructureStatusType">
		<xs:annotation>
			<xs:documentation>
The status of fixed infrastructure
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfrastructurePrimaryStatus" type="emcd:InfrastructurePrimaryStatusCodeType">
		<xs:annotation>
			<xs:documentation>
The status type for fixed infrastrucutre. This is made up of a small, general set of terms.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfrastructureSecondaryStatus" abstract="true">
		<xs:annotation>
			<xs:documentation>
A more descriptive status type for infrastructure that compliments the primary status type. This status type can be community defined or use one of the pre-defined code lists provided in the schema.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfrastructureStatusReason" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>
Free text string for describing reason for the infrastructure status
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfrastructurePercentDegraded" type="nc:PercentType">
		<xs:annotation>
			<xs:documentation>
The estimated percent that fixed infrastructure is degraded.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfrastructureEstimatedMitigationTime" type="nc:DateType">
		<xs:annotation>
			<xs:documentation>
            Estimated time that the infrastructure degredation will be fully mitigated.
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfrastructureTrend" type="emcd:InfrastructureTrendCodeType">
		<xs:annotation>
			<xs:documentation>
The trend of infrstructure status since last report.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PointOfContact" type="emlc:PointofContactType">
		<xs:annotation>
			<xs:documentation>
The Point of Contact Information
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Name" type="nc:ProperNameTextType">
		<xs:annotation>
			<xs:documentation>
The Point of Contact Name
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Phone" type="nc:TelephoneNumberType">
		<xs:annotation>
			<xs:documentation>
The Point of Contact Voice Phone Number
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Fax" type="nc:TelephoneNumberType">
		<xs:annotation>
			<xs:documentation>
The Point of Contact Fax Number
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EmailAddress" type="emlc:EmailAddressType">
		<xs:annotation>
			<xs:documentation>
The Point of Contact Email Address
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RadioContact" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>
The Point of Contact Radio Contact Information
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceControllingOrganization" type="emlc:ResourceOrganizationType">
		<xs:annotation>
			<xs:documentation>
Whatever organization is responsible for controlling the resource. If not noted, then assume the owning organization is the controlling organization.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceDetails" type="emlc:ResourceDetailType" substitutionGroup="emlc:EventDetails">
		<xs:annotation>
			<xs:documentation>
Additional information needed to sufficiently describe a resource.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceIdentifier" type="nc:IdentificationType" substitutionGroup="nc:OrganizationAugmentationPoint">
		<xs:annotation>
			<xs:documentation>
The identifier used within the controlling organization to identify the resource.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceNIMSDefinition" type="rtlt:NIMSResourceDefinitionType">
		<xs:annotation>
			<xs:documentation>The FEMA NIMS definition of a resource.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceOwningOrganization" type="emlc:ResourceOrganizationType">
		<xs:annotation>
			<xs:documentation>
Whatever organization owns the resource.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceStatus" type="emlc:ResourceStatusType">
		<xs:annotation>
			<xs:documentation>
The current status of the resource.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourcePrimaryStatus" type="emcd:ResourcePrimaryStatusCodeType">
		<xs:annotation>
			<xs:documentation>
The primary status type for an resource. This is made up of a small, general set of terms that are further described by the secondary status terms.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceSecondaryStatus" abstract="true">
		<xs:annotation>
			<xs:documentation>
A more descriptive status type for an resource that compliments the primary status type. This status type can be community defined or use one of the pre-defined code lists provided in the schema.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceEIDDCode" type="emcd:ResourceEIDDStatusCodeType">
		<xs:annotation>
			<xs:documentation>
The set of resource status codes contained within the EIDD documentation.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceEIDDStatus" type="emlc:ResourceEIDDStatusType" substitutionGroup="emlc:ResourceSecondaryStatus">
		<xs:annotation>
			<xs:documentation>
The set of resource status codes contained within the EIDD documentation.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceUCADCode" type="emcd:ResourceUCADStatusCodeType">
		<xs:annotation>
			<xs:documentation>
The set of resource status codes contained within the UCAD documentation.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceUCADStatus" type="emlc:ResourceUCADStatusType" substitutionGroup="emlc:ResourceSecondaryStatus">
		<xs:annotation>
			<xs:documentation>
The set of resource status codes contained within the UCAD documentation.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceSecondaryStatusText" type="mo:CodespaceCodePairType" substitutionGroup="emlc:ResourceSecondaryStatus">
		<xs:annotation>
			<xs:documentation>
A free text field for describing the primary resource status type in further detail.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TextStatusDescription" type="emlc:TextStatusDescriptionType">
		<xs:annotation>
			<xs:documentation>
A free text field for describing the primary resource status type in further detail.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- COMPLEX TYPES -->
	<xs:complexType name="EventType">
		<xs:annotation>
			<xs:documentation>
A type that extends the emevent:EventType, adding in incident and resource elements.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="emevent:EventType">
				<xs:sequence>
					<xs:element ref="emlc:EventDetails" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:EventCommunityExtensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IncidentLocationExtensionType">
		<xs:annotation>
			<xs:documentation>
A type containing the additional location fields necessary to adequately describe the location of an incident.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:Address" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:AddressCrossStreet" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:AreaRegion" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emlc:AddressIntersectionIndicator" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
		<!-- TODO: (?) make sure there is a corresponding element to each part of PIDF-LO: http://www.ietf.org/rfc/rfc5139.txt-->
	</xs:complexType>
	<xs:complexType name="IncidentDetailType">
		<xs:annotation>
			<xs:documentation>
A type containing a limited amount of information to further describe an incident.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<!-- IncidentStatus contains elements corresponding to the IncidentInformation/IncidentStatusCommon and IncidentInformation/IncidentStatusInternal elements defined in the EIDD -->
					<xs:element ref="emlc:IncidentStatus"/>
					<!-- IncidentOwningOrganization aligns with the EmergencyIncident/AgencyInformationOwnership element defined in the EIDD -->
					<xs:element ref="emlc:IncidentOwningOrganization"/>
					<!-- IncidentLocationExtension aligns with the IncidentInformation/LocationInformation element in the EIDD -->
					<xs:element ref="emlc:IncidentLocationExtension" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IncidentEIDDStatusType">
		<xs:annotation>
			<xs:documentation>
A type containing the EIDD status of the incident
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:IncidentEIDDCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IncidentOrganizationType">
		<xs:annotation>
			<xs:documentation>
An organization that manages the response to an incident
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="nc:OrganizationType">
				<xs:sequence>
					<xs:element ref="nc:OrganizationIdentification"/>
					<xs:element ref="nc:OrganizationAugmentationPoint" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IncidentPulsePointStatusType">
		<xs:annotation>
			<xs:documentation>
A type containing the PulsePoint status of the incident
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:IncidentPulsePointCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IncidentStatusType">
		<xs:annotation>
			<xs:documentation>
A type contianing the primary and secondary resource statuses.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:IncidentPrimaryStatus"/>
					<xs:element ref="emlc:IncidentSecondaryStatus" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InfrastructureStatusType">
		<xs:annotation>
			<xs:documentation>
A type contianing the primary and secondary and reson for infrastructure statuses.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:InfrastructurePrimaryStatus"/>
					<xs:element ref="emlc:InfrastructureSecondaryStatus" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="emlc:InfrastructureStatusReason"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InfrastructureDetailType">
		<xs:annotation>
			<xs:documentation>
A type containing a limited amount of information to further describe the status of fixed infrastructure
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<!-- TODO -->
					<xs:element ref="emlc:InfrastructureStatus"/>
					<!-- TODO -->
					<xs:element ref="emlc:InfrastructurePercentDegraded"/>
					<!-- TODO -->
					<xs:element ref="emlc:InfrastructureTrend"/>
					<!-- TODO -->
					<xs:element ref="emlc:InfrastructureEstimatedMitigationTime"/>
					<!-- TODO -->
					<xs:element ref="emlc:IncidentLocationExtension" minOccurs="0"/>
					<!-- TODO -->
					<xs:element ref="emlc:PointOfContact"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PointofContactType">
		<xs:annotation>
			<xs:documentation>
A type containing information for a Point of Contact
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<!-- TODO -->
					<xs:element ref="emlc:Name"/>
					<!-- TODO -->
					<xs:element ref="emlc:Phone"/>
					<!-- TODO -->
					<xs:element ref="emlc:EmailAddress" minOccurs="0"/>
					<!-- TODO -->
					<xs:element ref="emlc:RadioContact" minOccurs="0"/>
					<!-- TODO -->
					<xs:element ref="emlc:Fax" minOccurs="0"/>
					<!-- TODO -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceDetailType">
		<xs:annotation>
			<xs:documentation>
A type contianing a limited amount of information to further describe a resource.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:ResourceStatus"/>
					<xs:element ref="emlc:ResourceOwningOrganization"/>
					<xs:element ref="emlc:ResourceControllingOrganization" minOccurs="0"/>
					<xs:element ref="emlc:ResourceNIMSDefinition" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceOrganizationType">
		<xs:annotation>
			<xs:documentation>
An organization that manages emergency management resources.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="nc:OrganizationType">
				<xs:sequence>
					<xs:element ref="nc:OrganizationIdentification"/>
					<xs:element ref="emlc:ResourceIdentifier"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceEIDDStatusType">
		<xs:annotation>
			<xs:documentation>
A type containing the EIDD status of the resource.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:ResourceEIDDCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceStatusType">
		<xs:annotation>
			<xs:documentation>
A type containing the primary and secondary resource statuses.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:ResourcePrimaryStatus"/>
					<xs:element ref="emlc:ResourceSecondaryStatus" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceUCADStatusType">
		<xs:annotation>
			<xs:documentation>
A type containing the UCAD status of the resource.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:ResourceUCADCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmailAddressType">
		<xs:annotation>
			<xs:documentation>
A string to desribe a formatted email address
					</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="niem-xs:string">
				<xs:pattern value="[^@]+@[^\.]+\..+"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TextStatus">
		<xs:annotation>
			<xs:documentation>
        A type containing the free status of the resource.
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:TextStatusDescription"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attribute name="sourceID" type="xs:string">
		<xs:annotation>
			<xs:documentation>
        A name or URI for a controlled vocabulary.
      </xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:complexType name="TextStatusDescriptionType">
		<xs:annotation>
			<xs:documentation>
        A data type for a value from a specified controlled vocabulary.
      </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="niem-xs:string">
				<xs:attribute ref="emlc:sourceID" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
