Fresh.Global/Resources/fema_rtlt1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ptaccenter.org/Rtlt.Core.Api.V1" targetNamespace="http://www.ptaccenter.org/Rtlt.Core.Api.V1" elementFormDefault="qualified">
	<xs:element name="GetDisciplines">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDisciplinesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetDisciplinesResult" type="tns:ArrayOfDiscipline" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ArrayOfDiscipline">
		<xs:sequence>
			<xs:element name="Discipline" type="tns:Discipline" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfDiscipline" type="tns:ArrayOfDiscipline" nillable="true"/>
	<xs:complexType name="Discipline">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Discipline" type="tns:Discipline" nillable="true"/>
	<xs:element name="GetMissionAreas">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetMissionAreasResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetMissionAreasResult" type="tns:ArrayOfMissionArea" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ArrayOfMissionArea">
		<xs:sequence>
			<xs:element name="MissionArea" type="tns:MissionArea" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfMissionArea" type="tns:ArrayOfMissionArea" nillable="true"/>
	<xs:complexType name="MissionArea">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CoreCapabilities" type="tns:ArrayOfMissionAreaCoreCapability" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MissionArea" type="tns:MissionArea" nillable="true"/>
	<xs:complexType name="ArrayOfMissionAreaCoreCapability">
		<xs:sequence>
			<xs:element name="MissionAreaCoreCapability" type="tns:MissionAreaCoreCapability" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfMissionAreaCoreCapability" type="tns:ArrayOfMissionAreaCoreCapability" nillable="true"/>
	<xs:complexType name="MissionAreaCoreCapability">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MissionAreaCoreCapability" type="tns:MissionAreaCoreCapability" nillable="true"/>
	<xs:element name="GetCoreCapabilities">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCoreCapabilitiesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetCoreCapabilitiesResult" type="tns:ArrayOfCoreCapability" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ArrayOfCoreCapability">
		<xs:sequence>
			<xs:element name="CoreCapability" type="tns:CoreCapability" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfCoreCapability" type="tns:ArrayOfCoreCapability" nillable="true"/>
	<xs:complexType name="CoreCapability">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CoreCapability" type="tns:CoreCapability" nillable="true"/>
	<xs:element name="GetResourceCategories">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetResourceCategoriesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetResourceCategoriesResult" type="tns:ArrayOfCategory" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ArrayOfCategory">
		<xs:sequence>
			<xs:element name="Category" type="tns:Category" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfCategory" type="tns:ArrayOfCategory" nillable="true"/>
	<xs:complexType name="Category">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Category" type="tns:Category" nillable="true"/>
	<xs:element name="GetResourceKinds">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetResourceKindsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetResourceKindsResult" type="tns:ArrayOfKind" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ArrayOfKind">
		<xs:sequence>
			<xs:element name="Kind" type="tns:Kind" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfKind" type="tns:ArrayOfKind" nillable="true"/>
	<xs:complexType name="Kind">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Kind" type="tns:Kind" nillable="true"/>
	<xs:element name="GetResourceHeaders">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="status" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="updatedFrom" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="updatedTo" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="discipline" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="missionArea" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="coreCapability" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="category" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="kind" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="page" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetResourceHeadersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetResourceHeadersResult" type="tns:DefinitionHeaderSet" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DefinitionHeaderSet" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:PagedResult">
				<xs:sequence>
					<xs:element name="Headers" type="tns:ArrayOfDefinitionHeader" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DefinitionHeaderSet" type="tns:DefinitionHeaderSet" nillable="true"/>
	<xs:complexType name="PagedResult">
		<xs:sequence>
			<xs:element name="ItemCount" type="xs:int" minOccurs="0"/>
			<xs:element name="PageCount" type="xs:int" minOccurs="0"/>
			<xs:element name="Page" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PagedResult" type="tns:PagedResult" nillable="true"/>
	<xs:complexType name="ArrayOfDefinitionHeader">
		<xs:sequence>
			<xs:element name="DefinitionHeader" type="tns:DefinitionHeader" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfDefinitionHeader" type="tns:ArrayOfDefinitionHeader" nillable="true"/>
	<xs:complexType name="DefinitionHeader">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Name" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Updated" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DefinitionHeader" type="tns:DefinitionHeader" nillable="true"/>
	<xs:element name="GetResources">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="status" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="updatedFrom" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="updatedTo" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="discipline" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="missionArea" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="coreCapability" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="category" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="kind" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="page" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetResourcesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetResourcesResult" type="tns:ResourceDefinitionSet" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ResourceDefinitionSet" mixed="false">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="{0}Set" Namespace="http://www.ptaccenter.org/Rtlt.Core.Api.V1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="ResourceDefinition" Namespace="http://www.ptaccenter.org/Rtlt.Core.Api.V1"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:PagedResult">
				<xs:sequence>
					<xs:element name="Definitions" type="tns:ArrayOfResourceDefinition" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ResourceDefinitionSet" type="tns:ResourceDefinitionSet" nillable="true"/>
	<xs:complexType name="ArrayOfResourceDefinition">
		<xs:sequence>
			<xs:element name="ResourceDefinition" type="tns:ResourceDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfResourceDefinition" type="tns:ArrayOfResourceDefinition" nillable="true"/>
	<xs:complexType name="ResourceDefinition" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Definition">
				<xs:sequence>
					<xs:element name="SupportingCoreCapabilities" type="tns:ArrayOfResourceSupportingCoreCapability" nillable="true" minOccurs="0"/>
					<xs:element name="Description" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Category" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Kind" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="OverallFunction" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="CompositionOrdering" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Capabilities" type="tns:ArrayOfResourceCapability" nillable="true" minOccurs="0"/>
					<xs:element name="Comments" type="tns:ArrayOfResourceComment" nillable="true" minOccurs="0"/>
					<xs:element name="References" type="tns:ArrayOfResourceReference" nillable="true" minOccurs="0"/>
					<xs:element name="Notes" type="tns:ArrayOfResourceNote" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ResourceDefinition" type="tns:ResourceDefinition" nillable="true"/>
	<xs:complexType name="Definition">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Tier" type="xs:int" minOccurs="0"/>
			<xs:element name="Name" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="StatusDescription" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Updated" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Released" type="xs:dateTime" nillable="true" minOccurs="0"/>
			<xs:element name="Discipline" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="DisciplineNumber" type="xs:int" minOccurs="0"/>
			<xs:element name="PrimaryCoreCapability" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="SecondaryCoreCapability" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Definition" type="tns:Definition" nillable="true"/>
	<xs:complexType name="ArrayOfResourceSupportingCoreCapability">
		<xs:sequence>
			<xs:element name="ResourceSupportingCoreCapability" type="tns:ResourceSupportingCoreCapability" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfResourceSupportingCoreCapability" type="tns:ArrayOfResourceSupportingCoreCapability" nillable="true"/>
	<xs:complexType name="ResourceSupportingCoreCapability">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResourceSupportingCoreCapability" type="tns:ResourceSupportingCoreCapability" nillable="true"/>
	<xs:complexType name="ArrayOfResourceCapability">
		<xs:sequence>
			<xs:element name="ResourceCapability" type="tns:ResourceCapability" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfResourceCapability" type="tns:ArrayOfResourceCapability" nillable="true"/>
	<xs:complexType name="ResourceCapability">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Component" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Metric" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Ability" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Notes" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Types" type="tns:ArrayOfResourceCapabilityType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResourceCapability" type="tns:ResourceCapability" nillable="true"/>
	<xs:complexType name="ArrayOfResourceCapabilityType">
		<xs:sequence>
			<xs:element name="ResourceCapabilityType" type="tns:ResourceCapabilityType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfResourceCapabilityType" type="tns:ArrayOfResourceCapabilityType" nillable="true"/>
	<xs:complexType name="ResourceCapabilityType">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Type" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Attribute" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResourceCapabilityType" type="tns:ResourceCapabilityType" nillable="true"/>
	<xs:complexType name="ArrayOfResourceComment">
		<xs:sequence>
			<xs:element name="ResourceComment" type="tns:ResourceComment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfResourceComment" type="tns:ArrayOfResourceComment" nillable="true"/>
	<xs:complexType name="ResourceComment">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Comment" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResourceComment" type="tns:ResourceComment" nillable="true"/>
	<xs:complexType name="ArrayOfResourceReference">
		<xs:sequence>
			<xs:element name="ResourceReference" type="tns:ResourceReference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfResourceReference" type="tns:ArrayOfResourceReference" nillable="true"/>
	<xs:complexType name="ResourceReference">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Reference" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResourceReference" type="tns:ResourceReference" nillable="true"/>
	<xs:complexType name="ArrayOfResourceNote">
		<xs:sequence>
			<xs:element name="ResourceNote" type="tns:ResourceNote" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfResourceNote" type="tns:ArrayOfResourceNote" nillable="true"/>
	<xs:complexType name="ResourceNote">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Note" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResourceNote" type="tns:ResourceNote" nillable="true"/>
	<xs:element name="GetResource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetResourceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetResourceResult" type="tns:ResourceDefinition" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPositionHeaders">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="status" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="updatedFrom" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="updatedTo" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="discipline" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="missionArea" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="coreCapability" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="page" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPositionHeadersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetPositionHeadersResult" type="tns:DefinitionHeaderSet" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPositions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="status" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="updatedFrom" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="updatedTo" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="discipline" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="missionArea" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="coreCapability" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="page" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPositionsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetPositionsResult" type="tns:PositionDefinitionSet" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PositionDefinitionSet" mixed="false">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="{0}Set" Namespace="http://www.ptaccenter.org/Rtlt.Core.Api.V1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="PositionDefinition" Namespace="http://www.ptaccenter.org/Rtlt.Core.Api.V1"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:PagedResult">
				<xs:sequence>
					<xs:element name="Definitions" type="tns:ArrayOfPositionDefinition" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PositionDefinitionSet" type="tns:PositionDefinitionSet" nillable="true"/>
	<xs:complexType name="ArrayOfPositionDefinition">
		<xs:sequence>
			<xs:element name="PositionDefinition" type="tns:PositionDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPositionDefinition" type="tns:ArrayOfPositionDefinition" nillable="true"/>
	<xs:complexType name="PositionDefinition" mixed="false">
		<xs:complexContent>
			<xs:extension base="tns:Definition">
				<xs:sequence>
					<xs:element name="SupportingCoreCapabilities" type="tns:ArrayOfPositionSupportingCoreCapability" nillable="true" minOccurs="0"/>
					<xs:element name="Types" type="tns:ArrayOfPositionType" nillable="true" minOccurs="0"/>
					<xs:element name="Categories" type="tns:ArrayOfPositionCategory" nillable="true" minOccurs="0"/>
					<xs:element name="IsIndividual" type="xs:boolean" minOccurs="0"/>
					<xs:element name="IsWithTeam" type="xs:boolean" minOccurs="0"/>
					<xs:element name="Team" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="IsWithUnit" type="xs:boolean" minOccurs="0"/>
					<xs:element name="Unit" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="OrderingSpecifications" type="tns:ArrayOfPositionOrdering" nillable="true" minOccurs="0"/>
					<xs:element name="References" type="tns:ArrayOfPositionReference" nillable="true" minOccurs="0"/>
					<xs:element name="Notes" type="tns:ArrayOfPositionNote" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PositionDefinition" type="tns:PositionDefinition" nillable="true"/>
	<xs:complexType name="ArrayOfPositionSupportingCoreCapability">
		<xs:sequence>
			<xs:element name="PositionSupportingCoreCapability" type="tns:PositionSupportingCoreCapability" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPositionSupportingCoreCapability" type="tns:ArrayOfPositionSupportingCoreCapability" nillable="true"/>
	<xs:complexType name="PositionSupportingCoreCapability">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PositionSupportingCoreCapability" type="tns:PositionSupportingCoreCapability" nillable="true"/>
	<xs:complexType name="ArrayOfPositionType">
		<xs:sequence>
			<xs:element name="PositionType" type="tns:PositionType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPositionType" type="tns:ArrayOfPositionType" nillable="true"/>
	<xs:complexType name="PositionType">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Type" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PositionType" type="tns:PositionType" nillable="true"/>
	<xs:complexType name="ArrayOfPositionCategory">
		<xs:sequence>
			<xs:element name="PositionCategory" type="tns:PositionCategory" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPositionCategory" type="tns:ArrayOfPositionCategory" nillable="true"/>
	<xs:complexType name="PositionCategory">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Category" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Notes" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Types" type="tns:ArrayOfPositionCategoryType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PositionCategory" type="tns:PositionCategory" nillable="true"/>
	<xs:complexType name="ArrayOfPositionCategoryType">
		<xs:sequence>
			<xs:element name="PositionCategoryType" type="tns:PositionCategoryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPositionCategoryType" type="tns:ArrayOfPositionCategoryType" nillable="true"/>
	<xs:complexType name="PositionCategoryType">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Type" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Criteria" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PositionCategoryType" type="tns:PositionCategoryType" nillable="true"/>
	<xs:complexType name="ArrayOfPositionOrdering">
		<xs:sequence>
			<xs:element name="PositionOrdering" type="tns:PositionOrdering" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPositionOrdering" type="tns:ArrayOfPositionOrdering" nillable="true"/>
	<xs:complexType name="PositionOrdering">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Specification" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PositionOrdering" type="tns:PositionOrdering" nillable="true"/>
	<xs:complexType name="ArrayOfPositionReference">
		<xs:sequence>
			<xs:element name="PositionReference" type="tns:PositionReference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPositionReference" type="tns:ArrayOfPositionReference" nillable="true"/>
	<xs:complexType name="PositionReference">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Reference" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PositionReference" type="tns:PositionReference" nillable="true"/>
	<xs:complexType name="ArrayOfPositionNote">
		<xs:sequence>
			<xs:element name="PositionNote" type="tns:PositionNote" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPositionNote" type="tns:ArrayOfPositionNote" nillable="true"/>
	<xs:complexType name="PositionNote">
		<xs:sequence>
			<xs:element name="Order" type="xs:int" minOccurs="0"/>
			<xs:element name="Note" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PositionNote" type="tns:PositionNote" nillable="true"/>
	<xs:element name="GetPosition">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPositionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetPositionResult" type="tns:PositionDefinition" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
