Fresh.Global/Resources/geospatial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:xls="http://release.niem.gov/niem/external/ogc/xls/1.1.0/dhs-gmo/2.1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:geo="http://release.niem.gov/niem/adapters/geospatial/3.0/" targetNamespace="http://release.niem.gov/niem/adapters/geospatial/3.0/" version="1">
	<xs:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="structures.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="referenceSystems.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/external/ogc/xls/1.1.0/dhs-gmo/2.1.0" schemaLocation="ols.xsd"/>
	<xs:annotation>
		<xs:documentation>Defines NIEM adapter types for external geospatial components defined by OGC and ISO.  It references local copies of unmodified schemas from external standards in local directory tree fragments that mirror the directory structures of the cannonical schema sources on the world wide web, and a profile of the OGC Open Location Services (XLS) schema that is based on GML version 3.2.1.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="EllipseType" appinfo:externalAdapterTypeIndicator="true">
		<xs:annotation>
			<xs:documentation>A data type for an ellipse specified by a point, major axis, minor axis and rotation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="xls:Ellipse" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An ellipse specified by a point, major axis, minor axis and rotation.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LineStringType" appinfo:externalAdapterTypeIndicator="true">
		<xs:annotation>
			<xs:documentation>A data type for a geometric curve that consists of a single segment with linear interpolation.  A gml:LineString is a special curve that consists of a single segment with linear interpolation. It is defined by two or more coordinate tuples, with linear interpolation betw</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="gml:LineString" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A gml:LineString is a special curve that consists of a single segment with linear interpolation. It is defined by two or more coordinate tuples, with linear interpolation between them.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PointType" appinfo:externalAdapterTypeIndicator="true">
		<xs:annotation>
			<xs:documentation>A data type for a 2D or 3D geometric point.  A gml:Point is defined by a single coordinate tuple. The direct position of a point is specified by the gml:pos element which is of type gml:DirectPositionType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="gml:Point" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A gml:Point is defined by a single coordinate tuple. The direct position of a point is specified by the gml:pos element which is of type gml:DirectPositionType.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
