Fresh.Global/Resources/maid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:maid="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/maid/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:emlc="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/emlc/" xmlns:emcd="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/codes/" xmlns:emevent="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/" xmlns:mo="http://release.niem.gov/niem/domains/militaryOperations/3.2/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" targetNamespace="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/maid/" elementFormDefault="qualified" version="1.0">
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/" schemaLocation="em_base.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/3.2/" schemaLocation="mo.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/codes/" schemaLocation="emcl.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="structures.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/3.1/emevent/0.1/emlc/" schemaLocation="emlc.xsd"/>
	<xs:annotation>
		<xs:documentation>The base set of element for emergency management (EM) events. This base set should be reused across the various EM message types.</xs:documentation>
	</xs:annotation>
	<!-- ELEMENTS -->
	<xs:element name="MutualAidMessage" abstract="true">
		<xs:annotation>
			<xs:documentation>
A mutual aid request or response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequested" type="maid:AidRequestedType" substitutionGroup="maid:MutualAidMessage">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid request.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidResponding" type="maid:AidRespondingType" substitutionGroup="maid:MutualAidMessage">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Approved" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MutualAidDetails" type="maid:MutualAidDetailsType" substitutionGroup="emlc:EventDetails">
		<xs:annotation>
			<xs:documentation>
Additional information needed to sufficiently describe a mutual aid request or response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedGenericResourceKind" type="maid:AidRequestedGenericResourceKindType">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Quantity" type="niem-xs:nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EstimatedArrivalDateTime" type="niem-xs:dateTime">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceTypeDescriptorExtension" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceTypeCode" type="emcd:EventTypeCodeType">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingContactInformation" type="maid:AidRespondingContactInformationType">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingResources" type="maid:AidRespondingResourcesKind">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingResourceType" type="maid:AidRespondingResourceTypeKind">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingPerson" type="maid:AidRespondingPersonType" substitutionGroup="maid:AidRespondingResourcesGroup">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingRank" type="maid:AidRespondingRankType">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EstimatedAvailabilityDateTimeRange" type="maid:EstimatedAvailabilityDateTimeRangeType">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingCredential" type="maid:AidRespondingCredentialType">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingEquipment" type="maid:AidRespondingEquipmentType" substitutionGroup="maid:AidRespondingResourcesGroup">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingResourcesGroup" abstract="true">
		<xs:annotation>
			<xs:documentation>
The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedLocationExtension" type="maid:AidRequestedLocationExtensionType">
		<xs:annotation>
			<xs:documentation>
				The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedSpecificResource" type="maid:AidRequestedSpecificResourceType" substitutionGroup="maid:AidRequestedResourcesKind">
		<xs:annotation>
			<xs:documentation>
				The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedMissionNeed" type="maid:AidRequestedMissionNeedType" substitutionGroup="maid:AidRequestedResourcesKind">
		<xs:annotation>
			<xs:documentation>
				The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedGenericResource" type="maid:AidRequestedGenericResourceType" substitutionGroup="maid:AidRequestedResourcesKind">
		<xs:annotation>
			<xs:documentation>
				The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedResources" type="maid:AidRequestedResourcesType">
		<xs:annotation>
			<xs:documentation>
Resource(s) being requested.
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedResourcesKind" abstract="true">
		<xs:annotation>
			<xs:documentation>
Resource(s) being requested.
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventCommunityExtensions" type="emevent:CommunityExtensionsType">
		<xs:annotation>
			<xs:documentation>
A community-specific extension to a message, for which the XML schema is not known in advance.
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventLink" type="emevent:EventLinkType">
		<xs:annotation>
			<xs:documentation>
A link to other EM events.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventLinkRelationCode" type="emcd:EventLinkRelationCodeType">
		<xs:annotation>
			<xs:documentation>
The relationship between "this" EM event and the EM event being linked to.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventTypeCode" type="emcd:EventTypeCodeType">
		<xs:annotation>
			<xs:documentation>
The formal, enumerated type code.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventTypeDescriptorExtension" type="mo:CodespaceCodePairType">
		<xs:annotation>
			<xs:documentation>
The community extended type code.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LinkedEventCategory" type="emevent:EventTypeDescriptorType">
		<xs:annotation>
			<xs:documentation>
A container for the formal type code and extended type code for the EM event being linked to.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LinkedEventID" type="emevent:EventIdentificationType">
		<xs:annotation>
			<xs:documentation>
The ID for the EM event being linked to.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OwningAgencyIdentification" type="nc:IdentificationType">
		<xs:annotation>
			<xs:documentation>
The identifying information for the owning agency.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGCoordinate" type="emevent:USNGCoordinateType">
		<xs:annotation>
			<xs:documentation>
A coordinate from the United States National Grid (USNG) which represents a location using the Universal Transverse Mercator (UTM) and the UPS grid systems and a grid labeling convention. Similar to the MGRS grid.	
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGCoordinateID" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
An identifier of a USNG coordinate.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGEastingValue" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
A distance east within a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGGridZoneID" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
An identifier of a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGGridZoneSquareID" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
An identifier of a specific 100,000 meter squared region within a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGNorthingValue" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
A distance north within a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- COMPLEX TYPES -->
	<xs:complexType name="AidRespondingType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:Approved" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRespondingResources" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRespondingContactInformation" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedResourcesType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:AidRequestedResourcesKind" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedMissionNeedType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:Quantity" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:ValueText" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:ValueListURNText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:ValueAugmentationPoint" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedGenericResourceType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:Quantity" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRequestedGenericResourceKind" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedSpecificResourceType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:ResourceIdentifier" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedLocationExtensionType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:Address" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:AddressCrossStreet" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:AddressGrid" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:MGRSCoordinate" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:UTMCoordinate" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:AreaRegion" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emlc:AddressIntersectionIndicator" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingResourceTypeKind">
		<xs:annotation>
			<xs:documentation>
A type containing the resource type for a mutual aid response 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:ResourceTypeCode" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:ResourceTypeDescriptorExtension" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="emlc:ResourceNIMSDefinition" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingResourcesKind">
		<xs:annotation>
			<xs:documentation>
A type containing the resource type for a mutual aid response 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:AidRespondingResourcesGroup" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MutualAidDetailsType">
		<xs:annotation>
			<xs:documentation>
A type containing a limited amount of information to further describe a mutual aid request or response.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<!-- todo: some stuff here -->
					<xs:element ref="maid:MutualAidMessage" minOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingRankType">
		<xs:annotation>
			<xs:documentation>
A type containing the resource type for a mutual aid response 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:ValueText" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:ValueListURNText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:ValueAugmentationPoint" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedGenericResourceKindType">
		<xs:annotation>
			<xs:documentation>
A type containing the resource type for a mutual aid response 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:ResourceTypeCode" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:ResourceTypeDescriptorExtension" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="emlc:ResourceNIMSDefinition" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EstimatedAvailabilityDateTimeRangeType">
		<xs:annotation>
			<xs:documentation>
A type containing the resource type for a mutual aid response 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:StartDate" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:EndDate" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingCredentialType">
		<xs:annotation>
			<xs:documentation>
A type containing the resource type for a mutual aid response 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:ValueText" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:ValueListURNText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:ValueAugmentationPoint" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingEquipmentType">
		<xs:annotation>
			<xs:documentation>
A type containing the resource type for a mutual aid response 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:ResourceIdentifier" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:EstimatedArrivalDateTime" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRespondingResourceType" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:EstimatedAvailabilityDateTimeRange" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingPersonType">
		<xs:annotation>
			<xs:documentation>
A type containing the resource type for a mutual aid response 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:PersonHumanResourceIdentification" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:EstimatedArrivalDateTime" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRespondingRank" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="maid:AidRespondingCredential" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="maid:EstimatedAvailabilityDateTimeRange" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingContactInformationType">
		<xs:annotation>
			<xs:documentation>
A type containing the contact for a mutual aid response 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:ContactMean" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:ContactEntity" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:ContactEntityDescriptionText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:ContactInformationDescriptionText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:ContactResponder" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:ContactInformationAugmentationPoint" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommentType">
		<xs:annotation>
			<xs:documentation>
A container for a comment, the comment's source, and the date/time that a comment was made.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:DateTime"/>
					<xs:element ref="nc:OrganizationIdentification"/>
					<xs:element ref="nc:PersonHumanResourceIdentification" minOccurs="0"/>
					<xs:element ref="nc:CommentText"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommunityExtensionsType">
		<xs:annotation>
			<xs:documentation>
A data type for community-specific extensions to a message, for which the XML schema is not known in advance.
        </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventTypeDescriptorType">
		<xs:annotation>
			<xs:documentation>
A container for the base hierarchical type and whatever extended type is necessary for an individual community.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:EventTypeCode"/>
					<xs:element ref="emevent:EventTypeDescriptorExtension" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventIdentificationType">
		<xs:annotation>
			<xs:documentation>
A data type for a representation of an identity as a single identifier.  Does not have a property for the identiy-assigning authority.
        </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="nc:IdentificationType">
				<xs:sequence>
					<xs:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventLinkType">
		<xs:annotation>
			<xs:documentation>
A data type for a unidirectional relationship from the process or object described by an Event, to the process or object described by another Event, or to an arbitrary resource.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:LinkedEventID"/>
					<xs:element ref="emevent:LinkedEventCategory"/>
					<xs:element ref="emevent:EventLinkRelationCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventType">
		<xs:annotation>
			<xs:documentation>
			A base event type for creating EM events from.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="emevent:RestrictedEventType">
				<xs:sequence>
					<xs:element ref="emevent:USNGCoordinate" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:EventLink" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="emevent:EventComment" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:AidRequestedResources" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRequestedLocationExtension" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LocalIdentificationType">
		<xs:annotation>
			<xs:documentation>
A way to reference an local identifier for whatever it is an event is referring to.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:IdentificationID"/>
					<xs:element ref="nc:OrganizationIdentification"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RestrictedEventType">
		<xs:annotation>
			<xs:documentation>
A restriction on the milops event type that significantly limits what elements can be used.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="mo:EventType">
				<xs:sequence>
					<xs:element ref="emevent:EventTypeDescriptor"/>
					<xs:element ref="mo:EventLocation"/>
					<xs:element ref="mo:EventIdentification"/>
					<xs:element ref="mo:EventValidityDateTimeRange"/>
					<xs:element ref="mo:EventMessageDateTime"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="USNGCoordinateType">
		<xs:annotation>
			<xs:documentation>
A data type for United States National Grid (USNG) which represents a location using the Universal Transverse Mercator (UTM) and the UPS grid systems.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:USNGCoordinateID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGEastingValue" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGNorthingValue" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:GeographicDatum" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGGridZoneID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGGridZoneSquareID" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
