Fresh.Global/Resources/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:fips_10-4="http://release.niem.gov/niem/codes/fips_10-4/3.0/" xmlns:census="http://release.niem.gov/niem/codes/census_uscounty/3.0/" xmlns:fips_5-2="http://release.niem.gov/niem/codes/fips_5-2/3.0/" xmlns:core_misc="http://release.niem.gov/niem/codes/core_misc/3.0/" targetNamespace="http://release.niem.gov/niem/niem-core/3.0/" version="1">
	<xs:import namespace="http://release.niem.gov/niem/codes/census_uscounty/3.0/" schemaLocation="census_uscounty.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/codes/fips_10-4/3.0/" schemaLocation="fips_10-4.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/codes/fips_5-2/3.0/" schemaLocation="fips_5-2.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/codes/core_misc/3.0/" schemaLocation="core_misc.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="structures.xsd"/>
	<xs:annotation>
		<xs:documentation>NIEM Core.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AddressGridType">
		<xs:annotation>
			<xs:documentation>A data type for a location identified by a unit of a grid system overlaid on an area.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:AddressGridID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:AddressGridText" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>A data type for a geophysical location described by postal information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationState" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationPostalExtensionCode" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssociationType">
		<xs:annotation>
			<xs:documentation>A data type for an association, connection, relationship, or involvement somehow linking people, things, and/or activities together.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:AssociationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommentType">
		<xs:annotation>
			<xs:documentation>A data type for a comment, note, or remark providing additional information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CrossStreetType">
		<xs:annotation>
			<xs:documentation>A data type for a location identified by two or more streets which intersect.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:CrossStreetDescriptionText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:LocationStreet" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DateRangeType">
		<xs:annotation>
			<xs:documentation>A data type for a range of dates.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:StartDate" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:EndDate" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DateType">
		<xs:annotation>
			<xs:documentation>A data type for a calendar date.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:DateRepresentation" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Degree360SimpleType">
		<xs:annotation>
			<xs:documentation>A data type for a value between 0 (inclusive) and 360 (exclusive).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0">
				<xs:annotation>
					<xs:documentation>The minimum value for a degree.</xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
			<xs:maxExclusive value="360">
				<xs:annotation>
					<xs:documentation>The maximum value for a degree.</xs:documentation>
				</xs:annotation>
			</xs:maxExclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Degree360Type">
		<xs:annotation>
			<xs:documentation>A data type for a value between 0 (inclusive) and 360 (exclusive).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="nc:Degree360SimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FullTelephoneNumberType">
		<xs:annotation>
			<xs:documentation>A data type for a full telephone number.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:TelephoneNumberFullID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:TelephoneSuffixID" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentificationType">
		<xs:annotation>
			<xs:documentation>A data type for a representation of an identity.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JurisdictionType">
		<xs:annotation>
			<xs:documentation>A data type for a geopolitical area in which an organization, person, or object has a specific range of authority.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:JurisdictionAbstract" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LocationType">
		<xs:annotation>
			<xs:documentation>A data type for geospatial location.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:LocationGeospatialCoordinate" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MGRSCoordinateType">
		<xs:annotation>
			<xs:documentation>A data type for a coordinate from the Military Grid Reference System (MGRS) which represents a location using the Universal Transverse Mercator (UTM) and the UPS grid systems and a unique military grid labeling convention.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:MGRSCoordinateID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:MGRSEastingValue" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:MGRSNorthingValue" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:GeographicDatum" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:MGRSGridZoneID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:MGRSGridZoneSquareID" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="NonNegativeDecimalSimpleType">
		<xs:annotation>
			<xs:documentation>A data type for a decimal value with a minimum value of 0.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0">
				<xs:annotation>
					<xs:documentation>The lowest value allowed (inclusive).</xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganizationAssociationType">
		<xs:annotation>
			<xs:documentation>A data type for an association between organizations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nc:AssociationType">
				<xs:sequence>
					<xs:element ref="nc:Organization" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:annotation>
			<xs:documentation>A data type for a body of people organized for a particular purpose.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:OrganizationIdentification" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:OrganizationAugmentationPoint" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PercentSimpleType">
		<xs:annotation>
			<xs:documentation>
A data type for a ratio, proper fraction, or percentage, with permissible decimal values ranging from 0 to 1 inclusive.
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0">
				<xs:annotation>
					<xs:documentation>
The lowest value allowed (inclusive) - represents 0%.
</xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
			<xs:maxInclusive value="1">
				<xs:annotation>
					<xs:documentation>
The highest value allowed (inclusive) - represents 100%.
</xs:documentation>
				</xs:annotation>
			</xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PercentType">
		<xs:annotation>
			<xs:documentation>
A data type for a ratio, proper fraction, or percentage, with permissible decimal values ranging from 0 to 1 inclusive.
</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="nc:PercentSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProperNameTextType">
		<xs:annotation>
			<xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="nc:TextType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="StreetType">
		<xs:annotation>
			<xs:documentation>A data type for a road, thoroughfare, or highway.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:StreetPredirectionalText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:StreetName" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:StreetCategoryText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:StreetPostdirectionalText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:StreetExtensionText" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TelephoneNumberType">
		<xs:annotation>
			<xs:documentation>A data type for a telephone number for a telecommunication device.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:TelephoneNumberRepresentation" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:annotation>
			<xs:documentation>A data type for a character string.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="niem-xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UTMCoordinateType">
		<xs:annotation>
			<xs:documentation>A data type for a coordinate from the Universal Transverse Mercator (UTM) Coordinate System, which represents a location with a hemisphere, zone, an easting value, and a northing value.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:UTMCoordinateID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:UTMEastingValue" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:UTMNorthingValue" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:UTMZoneNumeric" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:UTMHemisphere" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:GeographicDatum" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="UTMZoneNumericSimpleType">
		<xs:annotation>
			<xs:documentation>A data type for identifying one of the 60 north-south zones in a UTM grid, each covering a strip of the Earth 6 degrees wide in longitude.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="60">
				<xs:annotation>
					<xs:documentation>The largest possible zone number in a UTM grid.</xs:documentation>
				</xs:annotation>
			</xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UTMZoneNumericType">
		<xs:annotation>
			<xs:documentation>A data type for identifying one of the 60 north-south zones in a UTM grid, each covering a strip of the Earth 6 degrees wide in longitude.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="nc:UTMZoneNumericSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="Address" type="nc:AddressType" substitutionGroup="nc:LocationAddressAbstract">
		<xs:annotation>
			<xs:documentation>A postal location to which paper mail can be directed.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddressBuildingName" type="nc:TextType" substitutionGroup="nc:AddressDeliveryPoint">
		<xs:annotation>
			<xs:documentation>A name of a specific building at an address to distinguish it from other buildings at the same site.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddressCrossStreet" type="nc:CrossStreetType" substitutionGroup="nc:LocationAddressAbstract">
		<xs:annotation>
			<xs:documentation>A location identified by two or more streets which intersect.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddressDeliveryPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a single place or unit at which mail is delivered.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddressGrid" type="nc:AddressGridType" substitutionGroup="nc:LocationAddressAbstract">
		<xs:annotation>
			<xs:documentation>A location identified by a unit of a grid system overlaid on an area.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddressGridID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An identifier that references a unique address grid system.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddressGridText" type="nc:TextType">
		<xs:annotation>
			<xs:documentation>A unit, quadrant, or other subdivision of an address grid.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AreaRegion" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a location identified by geographic boundaries.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CommentAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation point for CommentType.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CommentText" type="nc:TextType">
		<xs:annotation>
			<xs:documentation>A comment, note, or remark providing additional information.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CrossStreetDescriptionText" type="nc:TextType">
		<xs:annotation>
			<xs:documentation>A description of a street intersection.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateRepresentation" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a representation of a date.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateTime" type="niem-xs:dateTime" substitutionGroup="nc:DateRepresentation">
		<xs:annotation>
			<xs:documentation>A full date and time.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocumentFormatText" type="nc:TextType">
		<xs:annotation>
			<xs:documentation>A file format, content type (e.g., a MIME type), or physical format of a document.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EndDate" type="nc:DateType">
		<xs:annotation>
			<xs:documentation>An end date.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation">
		<xs:annotation>
			<xs:documentation>A full telephone number.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GeographicDatum" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a spatial reference system.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GeographicDatumText" type="nc:TextType" substitutionGroup="nc:GeographicDatum">
		<xs:annotation>
			<xs:documentation>A spatial reference system.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdentificationID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An identifier.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="JurisdictionAbstract" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for an area, state, region, or other geographic unit over which some kind of authority exists.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationAddressAbstract" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a set of information, such as postal information, used to describe a location.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationCityName" type="nc:ProperNameTextType">
		<xs:annotation>
			<xs:documentation>A name of a city or town.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationCountry" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationCountryFIPS10-4Code" type="fips_10-4:CountryCodeType" substitutionGroup="nc:LocationCountry">
		<xs:annotation>
			<xs:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationCounty" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a county, parish, vicinage, or other such geopolitical subdivision of a state.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationCountyCode" type="census:USCountyCodeType" substitutionGroup="nc:LocationCounty">
		<xs:annotation>
			<xs:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationGeospatialCoordinate" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a geospatial location.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationPostalCode" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An identifier of a post office-assigned zone for an address.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationPostalExtensionCode" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An identifier of a smaller area within a post office-assigned zone for an address.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationState" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationStateFIPS5-2AlphaCode" type="fips_5-2:USStateCodeType" substitutionGroup="nc:LocationState">
		<xs:annotation>
			<xs:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint">
		<xs:annotation>
			<xs:documentation>A road, thoroughfare or highway.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MGRSCoordinate" type="nc:MGRSCoordinateType">
		<xs:annotation>
			<xs:documentation>A coordinate from the Military Grid Reference System (MGRS) which represents a location using the Universal Transverse Mercator (UTM) and the UPS grid systems and a unique military grid labeling convention.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MGRSCoordinateID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An identifier of a Military Grid Reference System (MGRS) coordinate.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MGRSEastingValue" type="niem-xs:nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>A distance east within a MGRS zone.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MGRSGridZoneID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An identifier of a MGRS grid zone.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MGRSGridZoneSquareID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An identifier of a specific 100,000 meter squared region within a MGRS grid zone.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MGRSNorthingValue" type="niem-xs:nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>A distance north within a MGRS zone.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Organization" type="nc:OrganizationType">
		<xs:annotation>
			<xs:documentation>A unit which conducts some sort of business or operations.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OrganizationAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation point for OrganizationType.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OrganizationIdentification" type="nc:IdentificationType">
		<xs:annotation>
			<xs:documentation>An identification that references an organization.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonHumanResourceIdentification" type="nc:IdentificationType">
		<xs:annotation>
			<xs:documentation>A human resources or employment identification assigned to a person.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StartDate" type="nc:DateType">
		<xs:annotation>
			<xs:documentation>A date on which something begins.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StreetCategoryText" type="nc:TextType">
		<xs:annotation>
			<xs:documentation>A kind of street.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StreetExtensionText" type="nc:TextType">
		<xs:annotation>
			<xs:documentation>An additional part of a street reference that follows the street category and post directional.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StreetFullText" type="nc:TextType">
		<xs:annotation>
			<xs:documentation>A complete reference for a street.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StreetName" type="nc:ProperNameTextType">
		<xs:annotation>
			<xs:documentation>A name of a street.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StreetNumberText" type="nc:TextType">
		<xs:annotation>
			<xs:documentation>A number that identifies a particular unit or location within a street.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StreetPostdirectionalText" type="nc:TextType">
		<xs:annotation>
			<xs:documentation>A direction that appears after a street name.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StreetPredirectionalText" type="nc:TextType">
		<xs:annotation>
			<xs:documentation>A direction that appears before a street name.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TelephoneNumberFullID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>A complete telephone number.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TelephoneNumberRepresentation" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a telephone number.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TelephoneSuffixID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An additional sequence of numbers to be entered after a call connects to be directed to the appropriate place.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UTMCoordinate" type="nc:UTMCoordinateType">
		<xs:annotation>
			<xs:documentation>A coordinate from the Universal Transverse Mercator (UTM) Coordinate System, which represents a location with a hemisphere, zone, an easting value, and a northing value.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UTMCoordinateID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An identifier of a Universal Transverse Mercator coordinate value.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UTMEastingValue" type="niem-xs:nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>A distance east within a UTM zone.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UTMHemisphere" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a hemisphere designation for a UTM coordinate.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UTMHemisphereCode" type="core_misc:UTMHemisphereCodeType" substitutionGroup="nc:UTMHemisphere">
		<xs:annotation>
			<xs:documentation>A hemisphere designation for a UTM coordinate.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UTMNorthingValue" type="niem-xs:nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>A distance north within a UTM zone.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UTMZoneNumeric" type="nc:UTMZoneNumericType">
		<xs:annotation>
			<xs:documentation>A zone out of the 60 north-south zones in a UTM grid, each covering a strip of the Earth 6 degrees wide in longitude.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ContactInformationType">
		<xs:annotation>
			<xs:documentation>A data type for how to contact a person or an organization.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="nc:ContactEntity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="nc:ContactEntityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="nc:ContactInformationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="nc:ContactResponder" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="nc:ContactInformationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContactInformationAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation point for ContactInformationType.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--  <xs:complexType name="LocationHeightMeasureType">
    <xs:annotation>
      <xs:documentation>A data type for a measurement of the height of a location relative to a reference point.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
     <xs:extension base="nc:MeasureType">
        <xs:sequence>
         <xs:element ref="nc:LocationHeightVerticalDatum" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationHeightMeasureAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>-->
	<xs:element name="EntityAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation point for EntityType.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationHeightMeasureAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation point for LocationHeightMeasureType.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationHeightVerticalDatum" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a vertical datum system used to designate the reference point for a height measurement.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- Commented this out for now.  Would lead to needing a lot more elements from niem-core that we wont currently use-->
	<!--<xs:element name="ContactResponder" type="nc:PersonType" nillable="true">-->
	<xs:element name="ContactResponder" abstract="true">
		<xs:annotation>
			<xs:documentation>A third party person who answers a call and connects or directs the caller to the intended person.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A description of the contact information.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactEntity" type="nc:EntityType" substitutionGroup="nc:Contact" nillable="true">
		<xs:annotation>
			<xs:documentation>An entity that may be contacted by using the given contact information.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactEntityDescriptionText" type="nc:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A description of the entity being contacted.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContactMeans" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a means of contacting someone.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EntityType">
		<xs:annotation>
			<xs:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="nc:EntityAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EntityRepresentation" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdentityAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation point for IdentityType.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Contact" abstract="true">
		<xs:annotation>
			<xs:documentation>A data concept for a person or organization to contact.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
