Fresh.Global/Resources/structures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" targetNamespace="http://release.niem.gov/niem/structures/3.0/" version="1">
	<xs:attribute name="id" type="xs:ID"/>
	<xs:attribute name="ref" type="xs:IDREF"/>
	<xs:attribute name="metadata" type="xs:IDREFS"/>
	<xs:attribute name="relationshipMetadata" type="xs:IDREFS"/>
	<xs:attributeGroup name="SimpleObjectAttributeGroup">
		<xs:attribute ref="structures:id"/>
		<xs:attribute ref="structures:ref"/>
		<xs:attribute ref="structures:metadata"/>
		<xs:attribute ref="structures:relationshipMetadata"/>
		<xs:anyAttribute namespace="urn:us:gov:ic:ism urn:us:gov:ic:ntk" processContents="lax"/>
	</xs:attributeGroup>
	<xs:complexType name="ObjectType" abstract="true">
		<xs:attribute ref="structures:id"/>
		<xs:attribute ref="structures:ref"/>
		<xs:attribute ref="structures:metadata"/>
		<xs:attribute ref="structures:relationshipMetadata"/>
		<xs:anyAttribute namespace="urn:us:gov:ic:ism urn:us:gov:ic:ntk" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="AssociationType" abstract="true">
		<xs:sequence>
			<xs:element ref="structures:AssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="structures:id"/>
		<xs:attribute ref="structures:ref"/>
		<xs:attribute ref="structures:metadata"/>
		<xs:attribute ref="structures:relationshipMetadata"/>
		<xs:anyAttribute namespace="urn:us:gov:ic:ism urn:us:gov:ic:ntk" processContents="lax"/>
	</xs:complexType>
	<xs:element name="AssociationAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation point for AssociationType</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MetadataType" abstract="true">
		<xs:attribute ref="structures:id"/>
		<xs:attribute ref="structures:ref"/>
		<xs:anyAttribute namespace="urn:us:gov:ic:ism urn:us:gov:ic:ntk" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="AugmentationType" abstract="true">
		<xs:attribute ref="structures:id"/>
		<xs:attribute ref="structures:ref"/>
		<xs:attribute ref="structures:metadata"/>
		<xs:anyAttribute namespace="urn:us:gov:ic:ism urn:us:gov:ic:ntk" processContents="lax"/>
	</xs:complexType>
</xs:schema>
