Fresh.Global/Resources/temporalObjects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gts="http://www.isotc211.org/2005/gts" targetNamespace="http://www.isotc211.org/2005/gts" elementFormDefault="qualified" version="0.1">
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="referenceSystems.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="basicTypes.xsd"/>
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:18:09 ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<!-- ........................................................................ -->
	<!--==XCGE: gml:AbstractTimePrimitive==-->
	<!-- ........................................................................ -->
	<xs:complexType name="TM_Primitive_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gml:AbstractTimePrimitive"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="TM_PeriodDuration" type="xs:duration"/>
	<!-- ........................................................................ -->
	<xs:complexType name="TM_PeriodDuration_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gts:TM_PeriodDuration"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
